<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="dns-prefetch" href="//i.ytimg.com/">
    <link rel="preconnect" href="//i.ytimg.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net/">
    <link rel="dns-prefetch" href="//code.jquery.com/">
    <link rel="dns-prefetch" href="//www.facebook.com/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tokyo Underground Beatz Massive | Real Tokyo Underground Hip-Hop Label</title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" id="me-cool-custom-menu-css"
        href="/wp-content/plugins/Me%20Cool%20Custom%20Menu/me-cool-custom-menu.css?ver=6.5.5" media="all">
    <link rel="stylesheet" id="mcc_line_bot_styles-css"
        href="/wp-content/plugins/Me_Cool_Custom_Line_Bot/static/styles.css?ver=1.0" media="all">
    <link rel="stylesheet" id="me_cool_ytplaylist_css-css"
        href="/wp-content/plugins/Me_Cool_YTPlaylist/css/me_cool_ytplaylist.css?ver=6.5.5" media="all">
    <link rel="stylesheet" id="cool-tag-cloud-css"
        href="/wp-content/plugins/cool-tag-cloud/inc/cool-tag-cloud.css?ver=2.25" media="all">
    <link rel="stylesheet" id="labelgrid-tools-frontend-css"
        href="/wp-content/plugins/label-grid-tools/public/css/labelgrid-tools-public.min.css?ver=1.3.58" media="all">
    <link rel="stylesheet" id="me-cool-toc-style-css" href="/wp-content/plugins/me-cool-toc/css/style.css?ver=6.5.5"
        media="all">
    <link rel="preload" href="/wp-content/themes/simple-days/assets/fonts/fontawesome/style.min.css" as="style">
    <link rel="stylesheet" id="font-awesome4-css"
        href="/wp-content/themes/simple-days/assets/fonts/fontawesome/style.min.css" media="all">
    <link rel="stylesheet" id="rsfv-fallback-css"
        href="/wp-content/plugins/really-simple-featured-video/includes/Compatibility/Themes/Fallback/styles.css?ver=1720110287"
        media="all">
    <link rel="stylesheet" id="mm-compiled-options-mobmenu-css"
        href="/wp-content/uploads/sites/4/dynamic-mobmenu.css?ver=2.8.4.4-372" media="all">
    <link rel="stylesheet" id="mm-google-webfont-dosis-css"
        href="//fonts.googleapis.com/css?family=Dosis%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=6.5.5"
        media="all">
    <link rel="stylesheet" id="mm-google-webfont-ubuntu-css"
        href="//fonts.googleapis.com/css?family=Ubuntu%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=6.5.5"
        media="all">
    <link rel="stylesheet" id="cssmobmenu-icons-css"
        href="/wp-content/plugins/mobile-menu/includes/css/mobmenu-icons.css?ver=6.5.5" media="all">
    <link rel="stylesheet" id="cssmobmenu-css"
        href="/wp-content/plugins/mobile-menu/includes/css/mobmenu.css?ver=2.8.4.4" media="all">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
    <script src="/wp-content/plugins/wp-video-lightbox/js/jquery.prettyPhoto.js?ver=3.1.6"
        id="jquery.prettyphoto-js"></script>
    <script
        id="video-lightbox-js-extra">var vlpp_vars = { "prettyPhoto_rel": "wp-video-lightbox", "animation_speed": "fast", "slideshow": "5000", "autoplay_slideshow": "false", "opacity": "0.80", "show_title": "true", "allow_resize": "true", "allow_expand": "true", "default_width": "640", "default_height": "480", "counter_separator_label": "\/", "theme": "pp_default", "horizontal_padding": "20", "hideflash": "false", "wmode": "opaque", "autoplay": "false", "modal": "false", "deeplinking": "false", "overlay_gallery": "true", "overlay_gallery_max": "30", "keyboard_shortcuts": "true", "ie6_fallback": "true" };</script>
    <script src="/wp-content/plugins/wp-video-lightbox/js/video-lightbox.js?ver=3.1.6" id="video-lightbox-js"></script>
    <script src="/wp-content/plugins/Me%20Cool%20Custom%20Menu/me-cool-custom-menu.js?ver=6.5.5"
        id="me-cool-custom-menu-js"></script>
    <script id="labelgrid-tools-frontend-js-extra">var LabelGridTools = { "nonce": "479a29fb42" };</script>
    <script src="/wp-content/plugins/label-grid-tools/public/js/labelgrid-tools-public.js?ver=1.3.58"
        id="labelgrid-tools-frontend-js"></script>
    <script src="/wp-content/plugins/mobile-menu/includes/js/mobmenu.js?ver=2.8.4.4" id="mobmenujs-js"></script>
    <link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/59">
    <link rel="canonical" href="/">
    <link rel="preconnect dns-prefetch" href="//pagead2.googlesyndication.com">
    <link rel="preconnect dns-prefetch" href="//googleads.g.doubleclick.net">
    <link rel="preconnect dns-prefetch" href="//tpc.googlesyndication.com">
    <link rel="preconnect dns-prefetch" href="//ad.doubleclick.net">
    <link rel="preconnect dns-prefetch" href="//www.gstatic.com">
    <link rel="preconnect dns-prefetch" href="//www.doubleclickbygoogle.com">
    <link rel="icon"
        href="/wp-content/uploads/sites/4/2023/02/cropped-cropped-TUBM-Coin-logo-scaled-1.jpg?fit=32%2C32&#038;ssl=1"
        sizes="32x32">
    <link rel="icon"
        href="/wp-content/uploads/sites/4/2023/02/cropped-cropped-TUBM-Coin-logo-scaled-1.jpg?fit=192%2C192&#038;ssl=1"
        sizes="192x192">
    <link rel="apple-touch-icon"
        href="/wp-content/uploads/sites/4/2023/02/cropped-cropped-TUBM-Coin-logo-scaled-1.jpg?fit=180%2C180&#038;ssl=1">
    <meta name="msapplication-TileImage"
        content="/wp-content/uploads/sites/4/2023/02/cropped-cropped-TUBM-Coin-logo-scaled-1.jpg?fit=270%2C270&#038;ssl=1">
</head>