<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="dns-prefetch" href="//i.ytimg.com/">
    <link rel="preconnect" href="//i.ytimg.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net/">
    <link rel="dns-prefetch" href="//code.jquery.com/">
    <link rel="dns-prefetch" href="//www.facebook.com/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tokyo Underground Beatz Massive | Real Tokyo Underground Hip-Hop Label</title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" id="cool-tag-cloud-css"
        href="/wp-content/plugins/cool-tag-cloud/inc/cool-tag-cloud.css?ver=2.25" media="all">
    <link rel="stylesheet" id="labelgrid-tools-frontend-css"
        href="/wp-content/plugins/label-grid-tools/public/css/labelgrid-tools-public.min.css?ver=1.3.58" media="all">
    <link rel="stylesheet" id="me-cool-toc-style-css" href="/wp-content/plugins/me-cool-toc/css/style.css?ver=6.5.5"
        media="all">
    <link rel="preload" href="/wp-content/themes/simple-days/assets/fonts/fontawesome/style.min.css" as="style">
    <link rel="stylesheet" id="font-awesome4-css"
        href="/wp-content/themes/simple-days/assets/fonts/fontawesome/style.min.css" media="all">
    <link rel="stylesheet" id="rsfv-fallback-css"
        href="/wp-content/plugins/really-simple-featured-video/includes/Compatibility/Themes/Fallback/styles.css?ver=1720110287"
        media="all">
    <link rel="stylesheet" id="mm-google-webfont-dosis-css"
        href="//fonts.googleapis.com/css?family=Dosis%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=6.5.5"
        media="all">
    <link rel="stylesheet" id="mm-google-webfont-ubuntu-css"
        href="//fonts.googleapis.com/css?family=Ubuntu%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=6.5.5"
        media="all">
    <link rel="canonical" href="/">
    <link rel="preconnect dns-prefetch" href="//pagead2.googlesyndication.com">
    <link rel="preconnect dns-prefetch" href="//googleads.g.doubleclick.net">
    <link rel="preconnect dns-prefetch" href="//tpc.googlesyndication.com">
    <link rel="preconnect dns-prefetch" href="//ad.doubleclick.net">
    <link rel="preconnect dns-prefetch" href="//www.gstatic.com">
    <link rel="preconnect dns-prefetch" href="//www.doubleclickbygoogle.com">
    <link rel="icon" href="/assets/images/TUBM-Coin-logo-scaled-1.jpg?fit=32%2C32&#038;ssl=1" sizes="32x32">
    <link rel="icon" href="/assets/images/TUBM-Coin-logo-scaled-1.jpg?fit=192%2C192&#038;ssl=1" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/TUBM-Coin-logo-scaled-1.jpg?fit=180%2C180&#038;ssl=1">
    <meta name="msapplication-TileImage" content="/assets/images/TUBM-Coin-logo-scaled-1.jpg?fit=270%2C270&#038;ssl=1">
    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/7fa97f29273aa758fd9c9da9/script.js"></script>
    <!-- End cookieyes banner -->
    <!-- jQueryとその依存ライブラリ -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>
</head>