body.custom-background {
    background-image: url("/assets/images/TUBM-Coin-logo-scaled-1.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}